
<div class="row">
  <div class="col-md-10 mx-auto" [formGroup]="searchForm">
        <mat-form-field class="w-100 mt-3">
          <mat-label>Search claims</mat-label>
          <input type="text" matInput formControlName="searchField">
          <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
  </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-10 mx-auto">
      <h4 *ngIf="records.length == 0">There is no record on the system</h4>
      <table *ngIf="records.length > 0" mat-table [dataSource]="records"
         class="shadow table-responsive mt-3">

        <ng-container matColumnDef="contractId">
            <th mat-header-cell *matHeaderCellDef class="ps-2"> Contract ID </th>
            <td mat-cell *matCellDef="let element" class="ps-2"> {{element.contractId}} </td>
        </ng-container>

        <ng-container matColumnDef="recordId">
            <th mat-header-cell *matHeaderCellDef class="ps-2"> Record ID</th>
            <td mat-cell *matCellDef="let element" class="ps-2"> {{element.recordId}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="ps-2"> Status</th>
            <td mat-cell *matCellDef="let element" class="ps-2"> {{element.status}} </td>
        </ng-container>

        <ng-container matColumnDef="error">
            <th mat-header-cell *matHeaderCellDef class="ps-2 d-none d-md-table-cell"> Error Code </th>
            <td mat-cell *matCellDef="let element" class="ps-2 d-none d-md-table-cell"> {{element.error}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator *ngIf="records.length > 0"  [length]="reportLength"
                [pageIndex]="pageIndex"
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]"
                (page)="handlePageEvent($event)"
                aria-label="Select page">
  </mat-paginator>
    </div>
  </div>
